@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Shop</h1>

    <div class="row pt-5 pb-3">
        <div class="col-xl-3 col-sm-6 col-12  px-4">
            <div class="border border-1 border-dark-subtle">
                <div>
                    <img class="" src="./IMG/a1.jpg" width="250px" height="250px">
                </div>
                <div>
                    <a>
                        <button class="btn btn-warning">
                            Xem Chi Tiết
                        </button>
                    </a>
                </div>
                <div class="pb-2">

                    <div class="sale-price text-center pb-2" style="color: dodgerblue; font-weight: bolder; font-size:x-large;">
                        2,720,000 VNĐ
                    </div>


                    <div class=" col-xl-12 text-center  ">
                        <del class="bg-danger" style="color: aliceblue; font-weight: 500; padding: 7px 10px; border-radius: 20px;">
                            15,550,000 VNĐ
                        </del>
                    </div>

                    <div>
                        <p>
                            Số Lượng Tồn: <a> ......</a>
                        </p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="mdo">Thêm Vào Giỏ Hàng</button>

                    </div>
                    
                </div>

                
            </div>

        </div>
        <div class="col-xl-3 col-sm-6 col-12 px-4 ">
            <div class="border border-1 border-dark-subtle">
                <div>
                    <img class="" src="./IMG/a2.jpg" width="250px" height="250px">
                </div>
                <div>
                    <a>
                        <button class="btn btn-warning">
                            Xem Chi Tiết
                        </button>
                    </a>
                </div>
                <div class="pb-2">

                    <div class="sale-price text-center pb-2" style="color: dodgerblue; font-weight: bolder; font-size:x-large;">
                        2,720,000 VNĐ
                    </div>


                    <div class=" col-xl-12 text-center  ">
                        <del class="bg-danger" style="color: aliceblue; font-weight: 500; padding: 7px 10px; border-radius: 20px;">
                            15,550,000 VNĐ
                        </del>
                    </div>

                    <div>
                        <p>
                            Số Lượng Tồn: <a> ......</a>
                        </p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="mdo">Thêm Vào Giỏ Hàng</button>

                    </div>

                </div>


            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 px-4">
            <div class="border border-1 border-dark-subtle">
                <div>
                    <img class="" src="./IMG/a3.jpg" width="250px" height="250px">
                </div>
                <div>
                    <a>
                        <button class="btn btn-warning">
                            Xem Chi Tiết
                        </button>
                    </a>
                </div>
                <div class="pb-2">

                    <div class="sale-price text-center pb-2" style="color: dodgerblue; font-weight: bolder; font-size:x-large;">
                        2,720,000 VNĐ
                    </div>


                    <div class=" col-xl-12 text-center  ">
                        <del class="bg-danger" style="color: aliceblue; font-weight: 500; padding: 7px 10px; border-radius: 20px;">
                            15,550,000 VNĐ
                        </del>
                    </div>

                    <div>
                        <p>
                            Số Lượng Tồn: <a> ......</a>
                        </p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="mdo">Thêm Vào Giỏ Hàng</button>

                    </div>

                </div>


            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 px-4 ">
            <div class="border border-1 border-dark-subtle">
                <div>
                    <img class="" src="./IMG/a4.jpg" width="250px" height="250px">
                </div>
                <div>
                    <a>
                        <button class="btn btn-warning">
                            Xem Chi Tiết
                        </button>
                    </a>
                </div>
                <div class="pb-2">

                    <div class="sale-price text-center pb-2" style="color: dodgerblue; font-weight: bolder; font-size:x-large;">
                        2,720,000 VNĐ
                    </div>


                    <div class=" col-xl-12 text-center  ">
                        <del class="bg-danger" style="color: aliceblue; font-weight: 500; padding: 7px 10px; border-radius: 20px;">
                            15,550,000 VNĐ
                        </del>
                    </div>

                    <div>
                        <p>
                            Số Lượng Tồn: <a> ......</a>
                        </p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="mdo">Thêm Vào Giỏ Hàng</button>

                    </div>

                </div>


            </div>
        </div>
    </div>


    @* Luot 2 *@

    <div class="row pt-5 pb-3">
        <div class="col-xl-3 col-sm-6 col-12  px-4">
            <div class="border border-1 border-dark-subtle">
                <div>
                    <img class="" src="./IMG/a5.jpg" width="250px" height="250px">
                </div>
                <div>
                    <a>
                        <button class="btn btn-warning">
                            Xem Chi Tiết
                        </button>
                    </a>
                </div>
                <div class="pb-2">

                    <div class="sale-price text-center pb-2" style="color: dodgerblue; font-weight: bolder; font-size:x-large;">
                        2,720,000 VNĐ
                    </div>


                    <div class=" col-xl-12 text-center  ">
                        <del class="bg-danger" style="color: aliceblue; font-weight: 500; padding: 7px 10px; border-radius: 20px;">
                            15,550,000 VNĐ
                        </del>
                    </div>

                    <div>
                        <p>
                            Số Lượng Tồn: <a> ......</a>
                        </p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="mdo">Thêm Vào Giỏ Hàng</button>

                    </div>

                </div>


            </div>

        </div>
        <div class="col-xl-3 col-sm-6 col-12 px-4 ">
            <div class="border border-1 border-dark-subtle">
                <div>
                    <img class="" src="./IMG/a6.jpg" width="250px" height="250px">
                </div>
                <div>
                    <a>
                        <button class="btn btn-warning">
                            Xem Chi Tiết
                        </button>
                    </a>
                </div>
                <div class="pb-2">

                    <div class="sale-price text-center pb-2" style="color: dodgerblue; font-weight: bolder; font-size:x-large;">
                        2,720,000 VNĐ
                    </div>


                    <div class=" col-xl-12 text-center  ">
                        <del class="bg-danger" style="color: aliceblue; font-weight: 500; padding: 7px 10px; border-radius: 20px;">
                            15,550,000 VNĐ
                        </del>
                    </div>

                    <div>
                        <p>
                            Số Lượng Tồn: <a> ......</a>
                        </p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="mdo">Thêm Vào Giỏ Hàng</button>

                    </div>

                </div>


            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 px-4">
            <div class="border border-1 border-dark-subtle">
                <div>
                    <img class="" src="./IMG/a7.jpg" width="250px" height="250px">
                </div>
                <div>
                  
                    <a> 
                        <button class="btn btn-warning">
                            Xem Chi Tiết
                        </button>
                    </a>
                   
                </div>
                
                <div class="pb-2">

                    <div class="sale-price text-center pb-2" style="color: dodgerblue; font-weight: bolder; font-size:x-large;">
                        2,720,000 VNĐ
                    </div>


                    <div class=" col-xl-12 text-center  ">
                        <del class="bg-danger" style="color: aliceblue; font-weight: 500; padding: 7px 10px; border-radius: 20px;">
                            15,550,000 VNĐ
                        </del>
                    </div>

                    <div>
                        <p>
                            Số Lượng Tồn: <a> ......</a>
                        </p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="mdo">Thêm Vào Giỏ Hàng</button>

                    </div>

                </div>


            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 px-4 ">
            <div class="border border-1 border-dark-subtle">
                <div>
                    <img class="" src="./IMG/a8.jpg" width="250px" height="250px">
                </div>
                <div>
                    <a>
                        <button class="btn btn-warning">
                            Xem Chi Tiết
                        </button>
                    </a>
                </div>
                <div class="pb-2">

                    <div class="sale-price text-center pb-2" style="color: dodgerblue; font-weight: bolder; font-size:x-large;">
                        2,720,000 VNĐ
                    </div>


                    <div class=" col-xl-12 text-center  ">
                        <del class="bg-danger" style="color: aliceblue; font-weight: 500; padding: 7px 10px; border-radius: 20px;">
                            15,550,000 VNĐ
                        </del>
                    </div>

                    <div>
                        <p>
                            Số Lượng Tồn: <a> ......</a>
                        </p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="mdo">Thêm Vào Giỏ Hàng</button>

                    </div>

                </div>


            </div>
        </div>
    </div>













</div>
