@{
    ViewData["Title"] = "Giới Thiệu ";
}
<h1>@ViewData["Title"]</h1>


  <div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="https://dongphucbici.com/wp-content/uploads/2022/12/ao-bong-da-da-nang-banner.jpg" alt="Hình ảnh" class="img-fluid intro-image">
        </div>
        <div class="col-md-8">
            <div class="intro-text">
                <h1>Shop Bán Quần Áo Bóng Đá</h1>
                <p>
                    Chào mừng bạn đến với shop bán quần áo bóng đá! Chúng tôi cung cấp một loạt các sản phẩm chất lượng cao cho cả
                    nam và nữ. Tại shop, bạn sẽ tìm thấy những bộ trang phục bóng đá thiết kế đẹp mắt, thoải mái và chất lượng từ
                    các thương hiệu nổi tiếng.
                </p>
                <p>
                    Chúng tôi cam kết cung cấp những sản phẩm chất lượng nhất để đáp ứng nhu cầu của bạn. Dù bạn là một fan bóng đá,
                    một người chơi bóng đá chuyên nghiệp hay đơn giản là muốn mặc quần áo bóng đá phong cách, chúng tôi sẽ có những
                    sản phẩm phù hợp với bạn.
                </p>
                <p>
                    Hãy khám phá các sản phẩm của chúng tôi và tạo cho mình một phong cách bóng đá độc đáo. Chúng tôi hy vọng bạn sẽ
                    tìm thấy những gì bạn đang tìm kiếm và có một trải nghiệm mua sắm thú vị tại shop của chúng tôi.
                </p>
            </div>
        </div>
    </div>
</div>



